# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:joaoalex@localhost:5432/basicapi?schema=public"

GOOGLE_AUTH_CLIENT_ID = "187502214212-i9a34esu6cb5o1n8cntgmjuk03ghh634.apps.googleusercontent.com"
GOOGLE_AUTH_CLIENT_SECRET = "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"